

body {
  font-family: sans-serif;
  font-size: 1rem;
}

pre {
  background-color: aliceblue;
}

table {
  border: 2px;
}

td.theory-out {
  background-color: #cef7ce;
}

td.theory-param {
  background-color: lightcyan;
}
