

body {
  font-family: sans-serif;
  font-size: 1rem;
}

pre {
  background-color: aliceblue;
}

table {
  border: 2px;
}

td.theory-out {
  background-color: #cef7ce;
}

td.theory-param {
  background-color: lightcyan;
}

a.const, a.theorem, a.proof-step {
  color: inherit;
  text-decoration-thickness: 1px;
  text-decoration-style: dotted;
}

.proof-step {
  font-weight: bold;
}

a.const:hover, a.theorem:hover, a.proof-step:hover {
  background-color: gold;
}
